@page "/courses/details"
@attribute [Authorize(Roles = "Administrator")]
@using Microsoft.EntityFrameworkCore
@using CoShop.Models
@inject IDbContextFactory<CoShop.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Детали</PageTitle>

<h1>Детали</h1>

<div>
    <h2>Курс</h2>
    <hr />
    @if (course is null)
    {
        <p><em>Загрузка...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">Название</dt>
            <dd class="col-sm-10">@course.Title</dd>
            <dt class="col-sm-2">Описание</dt>
            <dd class="col-sm-10">@course.Description</dd>
            <dt class="col-sm-2">Цена</dt>
            <dd class="col-sm-10">@course.Price</dd>
            <dt class="col-sm-2">Дата создания</dt>
            <dd class="col-sm-10">@course.CreatedAt</dd>
            <dt class="col-sm-2">ID Категории</dt>
            <dd class="col-sm-10">@course.CatId</dd>
            <dt class="col-sm-2">Путь к изображению</dt>
            <dd class="col-sm-10">@course.ImageUrl</dd>
        </dl>
        <div>
            <a href="@($"/courses/edit?id={course.Id}")">Редактировать</a> |
            <a href="@($"/courses")">Вернуться к списку</a>
        </div>
    }
</div>

@code {
    private Course? course;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        course = await context.Courses.FirstOrDefaultAsync(m => m.Id == Id);

        if (course is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
