@page "/lessons/delete"
@attribute [Authorize(Roles = "Administrator")]
@using Microsoft.EntityFrameworkCore
@using CoShop.Models
@inject IDbContextFactory<CoShop.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Удалить</PageTitle>

<h1>Удалить</h1>

<p>Вы уверены, что хотите удалить это?</p>
<div>
    <h2>Урок</h2>
    <hr />
    @if (lesson is null)
    {
        <p><em>Загрузка...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">Название</dt>
            <dd class="col-sm-10">@lesson.Title</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Содержание</dt>
            <dd class="col-sm-10">@lesson.Content</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">ID Курса</dt>
            <dd class="col-sm-10">@lesson.CourseId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Продолжительность</dt>
            <dd class="col-sm-10">@lesson.Duration</dd>
        </dl>
        <EditForm method="post" Model="lesson" OnValidSubmit="DeleteLesson" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(lesson is null)">Удалить</button> |
            <a href="/lessons">Вернуться к списку</a>
        </EditForm>
    }
</div>

@code {
    private Lesson? lesson;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        lesson = await context.Lessons.FirstOrDefaultAsync(m => m.Id == Id);

        if (lesson is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteLesson()
    {
        using var context = DbFactory.CreateDbContext();
        context.Lessons.Remove(lesson!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/lessons");
    }
}
