@page "/reviews/details"
@attribute [Authorize(Roles = "Administrator")]
@using Microsoft.EntityFrameworkCore
@using CoShop.Models
@inject IDbContextFactory<CoShop.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Детали</PageTitle>

<h1>Детали</h1>

<div>
    <h2>Отзыв</h2>
    <hr />
    @if (review is null)
    {
        <p><em>Загрузка...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">ID Курса</dt>
            <dd class="col-sm-10">@review.CourseId</dd>
            <dt class="col-sm-2">ID Пользователя</dt>
            <dd class="col-sm-10">@review.ApplicationUserId</dd>
            <dt class="col-sm-2">Оценка</dt>
            <dd class="col-sm-10">@review.Rating</dd>
            <dt class="col-sm-2">Комментарий</dt>
            <dd class="col-sm-10">@review.Comment</dd>
            <dt class="col-sm-2">Дата создания</dt>
            <dd class="col-sm-10">@review.CreatedAt</dd>
        </dl>
        <div>
            <a href="@($"/reviews/edit?id={review.Id}")">Редактировать</a> |
            <a href="@($"/reviews")">Вернуться к списку</a>
        </div>
    }
</div>

@code {
    private Review? review;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        review = await context.Reviews.FirstOrDefaultAsync(m => m.Id == Id);

        if (review is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
